#newsreader {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

#list-feeds {
    height: 100vh;
    overflow-y: scroll;
    width: 25%;
    color: #fff;
    background-color: #555;
}

#list-entries {
    height: 100vh;
    overflow-y: scroll;
    width: 25%;
    background-color: #eee;
}

#show-entry {
    height: 100vh;
    overflow-y: scroll;
    width: 50%;
    padding: 2rem;
}

li {
    list-style: none;
}