li.list-entries-entry {
    padding: 0.4rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
}

li.list-entries-entry.selected {
    color: #fff;
    background-color: #0b5ed7;
}

.list-entries-entry-date {
    font-size: 0.75em;
    opacity: 0.5;
    display: block;
}

li.list-entries-entry.selected .list-entries-entry-date  {
    opacity: 0.75;
}

li.list-entries-entry.unread {
    font-weight: bold;
    opacity: 1;
}
